/* GLOBAL START */
:root {
    --fontColor: #ffffff;
    --citeColor: rgb(134, 134, 134);
    --fontHoverColor: rgb(146, 145, 145);
    --backgroundColor: #131316;
    --logoColor: rgba(255, 255, 255, 0.7);
}

* {
    font-family: "Julius Sans One", sans-serif !important;
}

html {
    height: 100vh;
    background: var(--backgroundColor);
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
}
/* GLOBAL END */

/* LOADER START */
.loader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--backgroundColor);
    min-width: auto;
    height: 100vh;
    margin: auto;
}

.loader-container .loader-logo {
    position: absolute;
    width: 210px;
    height: 120px;
    padding-bottom: 50px;
}
.loader-container .loading-bar {
    position: absolute;
    width: 170px;
    height: 20px;
    margin-top: 140px;
    margin-left: 15px;
}

.loader-container .loading-bar:after {
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    position: absolute;
    text-align: center;
    content: "LOADING ...";
    color: var(--logoColor);
    background-color: var(--backgroundColor);
    z-index: 1;
}

.loader-container .loading-bar:before {
    top: -5px;
    left: 0;
    height: 30px;
    width: 0;
    opacity: 1;
    content: "";
    position: absolute;
    background-color: var(--logoColor);
    transform-origin: 100% 0%;
    animation: loading-animation 12s ease-in-out infinite;
    z-index: 0;
}

.loader-container .lines-container {
    position: relative;
    width: 100px;
    height: 100px;
}

.lines-container .line-animation {
    height: 2px;
    width: 10px;
    bottom: 150px;
    position: absolute;
    background-color: var(--fontColor);
    animation: lines-animation ease-in-out infinite;
    offset-path: path("M50,0 A50,50 0 1,1 70,250 A50,50 0 1,1 50,0");
}

.lines-container .line-1 {
    animation-duration: 4s;
}

.lines-container .line-2 {
    animation-duration: 4s;
    animation-delay: 0.3s;
}

.lines-container .line-3 {
    animation-duration: 4s;
    animation-delay: 0.6s;
}

.lines-container .line-4 {
    animation-duration: 4s;
    animation-delay: 0.9s;
}

.lines-container .line-5 {
    animation-duration: 4s;
    animation-delay: 1.2s;
}

.lines-container .line-6 {
    animation-duration: 4s;
    animation-delay: 1.5s;
}

.lines-container .line-7 {
    animation-duration: 4s;
    animation-delay: 1.8s;
}

.lines-container .line-8 {
    animation-duration: 4s;
    animation-delay: 2.1s;
}

.lines-container .line-9 {
    animation-duration: 4s;
    animation-delay: 2.4s;
}

/* LOADER END */

/* HEADER START */
.header {
    background: transparent;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 300;
    transition: 1s all;
}

.header .list-container {
    padding-left: 40px;
}

.list-container .item {
    color: var(--fontColor);
}

.list-container .item:hover {
    background: transparent;
    color: var(--fontHoverColor);
    transition: 1s all;
}

.header .logo-container {
    padding-right: 70px;
    user-select: none;
}

.logo-container .logo .logo-pic {
    width: 210px;
    height: 120px;
    padding-top: 20px;
}

.header .user-container {
    padding-right: 40px;
}

.user-container .login-btn {
    color: var(--fontColor);
}

.user-container .login-btn:hover {
    background: transparent;
    color: rgb(23, 180, 36);
    transition: 1s all;
}

.user-container .register-btn {
    color: var(--fontColor);
}

.user-container .register-btn:hover {
    background: transparent;
    color: rgb(247, 67, 67);
    transition: 1s all;
}

/* HEADER END */

/* LEFT NAV START */
.left-nav {
    position: fixed;
    top: 44%;
    transition: 1s all;
    z-index: 300;
}

.left-nav .social-container {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.social-container .social-btn {
    color: var(--fontColor);
    padding: 5px;
    margin: 0 0 10px 0;
    transition: 1s all;
}

.social-container .social-btn:hover {
    background: transparent;
    color: var(--fontHoverColor);
    transition: 1s all;
}

.social-btn .social-icon {
    font-size: 28px;
}

/* LEFT NAV END */

/* RIGHT NAV START */
.right-nav {
    right: 20px;
    top: 32%;
    position: absolute;
    transform: rotate(90deg);
    z-index: 300;
    transition: 1s all;
    user-select: none;
}

.right-nav .date-container {
    position: fixed;
    height: 100%;
    width: 40vh;
    text-align: center;
    color: var(--fontColor);
}

.date-container .date {
    letter-spacing: 0.12em;
    font-size: 18px;
}

.date-container .time {
    letter-spacing: 0.12em;
    font-size: 24px;
    margin-top: 10px;
}
/* RIGHT NAV END */

/* HOME START */
.home .home-background {
    height: 100vh;
    position: relative;
    background-image: url("https://images.pexels.com/photos/877971/pexels-photo-877971.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.home .home-background::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.3;
}

.home .main-content {
    position: fixed;
    top: 48%;
    left: 21%;
    text-align: center;
    overflow: hidden;
    user-select: none;
    color: var(--fontColor);
}

.main-content h1 {
    font-size: 100px;
    letter-spacing: 10px;
    margin: 10px;
    padding: 30px 100px;
    border: 1px solid var(--citeColor);
    text-transform: uppercase;
}

.main-content h2 {
    font-size: 28px;
    text-transform: uppercase;
}

.main-content p {
    font-size: 17px;
}

.main-content p cite {
    font-size: 15px;
    color: var(--citeColor);
}
/* HOME END */

@keyframes loading-animation {
    0% {
        width: 0px;
    }
    70% {
        width: 100%;
        opacity: 1;
    }
    90% {
        opacity: 0;
        width: 100%;
    }
    100% {
        opacity: 0;
        width: 0px;
    }
}

@keyframes lines-animation {
    0% {
        offset-distance: 0%;
    }

    100% {
        offset-distance: 100%;
    }
}